<script language="JavaScript" type="text/javascript" src="scripts/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="scripts/bootstrap.min.js"></script>

<div class="container bg-light">
  <div class="d-flex justify-content-around h-100 my-2">
    <app-infocard titre="GUIDE D'UTILISATION" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis ut lacus quis ullamcorper. Nam sed tempor nisl. Donec volutpat aliquet sollicitudin. Etiam ullamcorper ante risus, sagittis rhoncus lacus vehicula ac." class="w-25"></app-infocard>
    <app-infocard titre="PREMIERE CONNEXION" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis ut lacus quis ullamcorper. Nam sed tempor nisl. Donec volutpat aliquet sollicitudin. Etiam ullamcorper ante risus, sagittis rhoncus lacus vehicula ac." class="w-25"></app-infocard>
    <app-infocard titre="INFORMATIONS SUPPLEMENTAIRES" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis ut lacus quis ullamcorper. Nam sed tempor nisl. Donec volutpat aliquet sollicitudin. Etiam ullamcorper ante risus, sagittis rhoncus lacus vehicula ac." class="w-25"></app-infocard>
  </div>
  <hr class="hr" />
  <div>
    <h1>Derniers arrivages</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Etat</th>
          <th scope="col">Date d'ajout</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">U9C8IT</th>
          <td>Ecran 18"</td>
          <td>Neuf</td>
          <td>21/10/2001</td>
        </tr>
        <tr>
          <th scope="row">RMMZOZ</th>
          <td>Clavier razer</td>
          <td>Sale état</td>
          <td>21/10/2001</td>
        </tr>
        <tr>
          <th scope="row">WV589I</th>
          <td>Souris à boule</td>
          <td>Tout cassé</td>
          <td>21/10/2001</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
